* {
/*font-size: 96px;*/

}

p{color:blue}

.sh {
  width: 100vw; /* 100% ширины окна браузера */
  background-color: #f2f2f2;
}

ul {
  width: 100%;
  margin: 0;
}

body{
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
image{
height:20%;
width:auto;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%)}